[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
crispy-tailwind = "*"
django-unique-user-email = {editable = true, ref = "translations", git = "git+https://github.com/tchappui/django-unique-user-email.git"}

[dev-packages]

[requires]
python_version = "3.12"
